[submodule "dealership"]
	path = dealership
	url = https://github.com/MarioEduardoAlvarezTorres/dealership.git
[submodule "pokedex-nestjs"]
	path = pokedex-nestjs
	url = https://github.com/MarioEduardoAlvarezTorres/pokedex-nestjs.git
[submodule "teslo-nest"]
	path = teslo-nest
	url = https://github.com/MarioEduardoAlvarezTorres/teslo-nest.git
